<div class="container">
  <% @tags.each do |tag| %>
    <div class="row">
      <%= link_to("##{tag.name}", "/memes/hashtag/#{tag.name}")  
      #tag.hashtag_link 
      %>
    </div>
  <% end %>
</div>