/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 # https://github.com/twbs/bootstrap-sass#a-ruby-on-rails
 *= require font-awesome
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* Navigation */ 
.nav.navbar-nav a:hover {
  background-color: #fff;
}

.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
  }

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    }
  .btn-danger:hover, .btn-danger:focus {
    background-color: darken(#d9534f,20%) !important;
    }
  .btn-primary:hover, .btn-primary:focus {
    background-color: darken(#428bca,20%) !important;
    }
  }
    
.btn-primary:visited, .btn-danger:visited {
  color: #fff;
  }

.user-name {
  padding: 0 !important ;
  padding-left: 5px;
  text-align: center;
  }   
     
.user-name a:hover {
  background-color: #fff !important;
}
    
.logout {
  padding-left: 0;
  }


 /* Index Page */
    
.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
    }
 }
 
.jumbotron {
  text-align: center;
  height: 560px;
  background-image: asset-url('orange.jpg');
  background-size: cover;
  color: #fff;
  font-stretch: expanded;
  padding-top: 15px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}    
 
.no-left-padding {
  padding-left: 0 !important;
}
    
.listing {
  list-style: none;
  padding-left: 0;
}
    
.sign-up-btn {
  margin-right: 30%;
  margin-top: 50px;
}
    
.feature-list {
  text-align: left;
  font-size: 150%;
  margin-left: 160px;
  margin-top: 100px;
  font-weight: 500;
  list-style-type: none;
  font-family: Frutiger, Futura, Officina, Helvetica, sans-serif;
}

/* Searchbar */

.search-bar {
  margin-bottom: 50px;
}
